@import "src/assets/styles/_colors.scss";
.fireteams {
  p {
    font-size: small;
  }
  .fireteams-select{
    margin: 8px 0px;
  }
  .description {
    font-size: small;
  }
  .operatives{
    margin-top: 16px;
  }
}
