:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-family: 'Poppins';
  margin: 0;
}
body {
  margin: 0;
  box-sizing: border-box;
}

#root {
  max-width: unset !important;
  margin: unset !important;
  padding: unset !important;
  text-align: unset !important;  
}