:root {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  box-sizing: border-box;
}

#root {
  max-width: unset !important;
  margin: unset !important;
  padding: unset !important;
  text-align: unset !important;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
